{% extends "index.html" %}

{% block content %}
<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3">Stolen Vehicles</h1>

		<div class="row">
			<div class="col-12 col-xl-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">20 / 05 / 2021</h5>
						<h6 class="card-subtitle text-muted">Click <code>track</code> to get more information.</h6>
					</div>
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>Time</th>
								<th class="text-right">Vehicle No</th>
								<th class="text-right">Vehicle Desc</th>
								<th class="text-right">Location</th>
								<th class="text-right">Track Vehicle</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12:33 am</td>
								<td>KL 30F 8419</td>
								<td class="text-right">Ford Ecosport</td>
								<td class="text-right">Market Jn, Chengannur</td>
								<td class="text-right"><a href="recon_track.html">track</a></td>
							</tr>
							<tr>
								<td>12:01 am</td>
								<td>KL 30F 3000</td>
								<td class="text-right">Honda Amaze</td>
								<td class="text-right">SCS Jn, Thiruvalla</td>
								<td class="text-right"><a href="recon_track.html">track</a></td>
							</tr>
							<tr>
								<td>09:47 am</td>
								<td>KL 18A 4023</td>
								<td class="text-right">TATA Nexon</td>
								<td class="text-right">Parumala</td>
								<td class="text-right"><a href="recon_track.html">track</a></td>
							</tr>
							<tr>
								<td>07:21 am</td>
								<td>KL 30E 100</td>
								<td class="text-right">Volkswagon Polo</td>
								<td class="text-right">Thevara, Kochi</td>
								<td class="text-right"><a href="recon_track.html">track</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</main>
{% endblock content %}
